@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ededed;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu{
    padding-top: 60px;
}

.introduction{
    height: 230px;
    line-height: 230px;
    background-color: #dbdbdb;
}

.vertical-align{
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
}


/* Sign in/up modals */

.loginbox{
    margin-top:50px;
}

.login-close-button{
    float:right;
    position: relative;
    top:-25px;
}

.login-panel-body{
    padding-top:30px;
}

.login-input-group{
    margin-bottom:25px;
}

.login-form-group{
    margin-top:10px;
}

/* Footer */

.footer {
    background-color: #233140;
}

.footer a{
    color: #ffffff;
}

.footer img{
    padding-top: 10px;
}


/* Misc */

.dev{
    border: 1px solid red;
}

.error{
    color: red;
}