@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    padding-bottom: 100px;
    background-color: #ededed;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lato{
    font-family: 'Lato', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.menu{
    padding-top: 60px;
}

.introduction{
    height: 210px;
    line-height: 210px;
    background-color: #dbdbdb;
    position: relative;
}

.vertical-align{
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
}

h2 {
    font-size: 16px;
    display: inline-block;
}

.title {
    border-bottom: 1px solid #dedede;
    margin-bottom: 5px;
}

hr{
   margin-bottom: -10px;
}

.gap{
    margin-top: 50px; /* Gap between navbar and actual content */
}


/* Sign In/Up forms */


.login-close-button{
    float:right;
    position: relative;
    top:-25px;
}

.login-input-group{
    margin-bottom:25px;
}

.login-form-group{
    margin-top:10px;
}

/* Footer */

.footer {
    background-color: #233140;
}

.footer a{
    color: #ffffff;
}

.footer img{
    padding-top: 10px;
}


/* Beer's information div */

.price{
    font-size: 150%;
}

.size{
    font-style: italic;
    font-size: 80%;
}

.per-liter{

    font-style: italic;
}

/* Banner above navbar */

.banner{
    position: relative;
    width: 100%;
    height: 150px;
}

.banner-image{
    width: 100%;
    height: 150px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}



/* MISC */

.dev{
    border: 1px solid red;
}

.error{
    color: red;
}